## Hypothesis Testing Assignment

In [1]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [6]:
data = pd.read_csv("nba_games_2013_2015.csv", delimiter = ';')

In [7]:
data

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7375,22013,1610612753,ORL,Orlando Magic,21300001,2013-10-29,ORL @ IND,L,241,87,...,0.600,13,26,39,17,10,6,17,26,-10.0
7376,22013,1610612748,MIA,Miami Heat,21300002,2013-10-29,MIA vs. CHI,W,239,107,...,0.759,5,35,40,26,10,7,18,21,12.0
7377,22013,1610612747,LAL,Los Angeles Lakers,21300003,2013-10-29,LAL vs. LAC,W,240,116,...,0.643,18,34,52,23,8,6,19,23,13.0
7378,22013,1610612741,CHI,Chicago Bulls,21300002,2013-10-29,CHI @ MIA,L,238,95,...,0.783,11,30,41,23,11,4,18,27,-12.0
7379,22013,1610612754,IND,Indiana Pacers,21300001,2013-10-29,IND vs. ORL,W,241,97,...,0.688,10,34,44,17,4,18,20,13,10.0

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [15]:
data['SEASON_ID'].value_counts()

22013    2460
22015    2460
22014    2460
Name: SEASON_ID, dtype: int64

In [17]:
year_2013 = data[data['SEASON_ID'] == 22013]
year_2013.head(5)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4920,22013,1610612742,DAL,Dallas Mavericks,21301216,2014-04-16,DAL @ MEM,L,265,105,...,0.818,15,24,39,22,11,4,13,23,-1.0
4921,22013,1610612743,DEN,Denver Nuggets,21301230,2014-04-16,DEN vs. GSW,L,241,112,...,0.829,9,33,42,23,4,4,19,28,-4.0
4922,22013,1610612762,UTA,Utah Jazz,21301218,2014-04-16,UTA @ MIN,W,291,136,...,0.828,22,38,60,30,10,9,18,34,6.0
4923,22013,1610612751,BKN,Brooklyn Nets,21301224,2014-04-16,BKN @ CLE,L,240,85,...,0.739,6,30,36,21,9,1,15,16,-29.0
4924,22013,1610612753,ORL,Orlando Magic,21301227,2014-04-16,ORL vs. IND,L,240,86,...,0.708,9,31,40,14,9,5,10,16,-15.0

In [20]:
year_2014 = data[data['SEASON_ID'] == 22014]

In [19]:
year_2015 = data[data['SEASON_ID'] == 22015]

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [22]:
CC = year_2015[year_2015['TEAM_NAME'] == 'Cleveland Cavaliers']
GSW = year_2015[year_2015['TEAM_NAME'] == 'Golden State Warriors']

In [69]:
#ttest for paired samples
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.ttest_ind(CC[x],GSW[x]))
print(l)

[Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)]

In [70]:
l=[]
listofname=['FG_PCT']
for x in listofname:
    l.append(st.ttest_ind(CC[x],GSW[x]))
print(l)

[Ttest_indResult(statistic=-3.13195297595825, pvalue=0.00206097581047554)]

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [53]:
CC_2014 = year_2014[year_2014['TEAM_NAME'] == 'Cleveland Cavaliers']
CC_2014.head(5)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2485,22014,1610612739,CLE,Cleveland Cavaliers,21401225,2015-04-15,CLE vs. WAS,W,266,113,...,0.647,11,33,44,29,7,4,16,17,5.0
2517,22014,1610612739,CLE,Cleveland Cavaliers,21401203,2015-04-13,CLE vs. DET,W,240,109,...,0.500,13,32,45,30,5,7,10,19,12.0
2527,22014,1610612739,CLE,Cleveland Cavaliers,21401194,2015-04-12,CLE @ BOS,L,241,78,...,0.684,11,33,44,18,1,5,24,18,-39.0
2553,22014,1610612739,CLE,Cleveland Cavaliers,21401178,2015-04-10,CLE vs. BOS,L,239,90,...,0.680,12,30,42,25,4,2,20,21,-9.0
2601,22014,1610612739,CLE,Cleveland Cavaliers,21401167,2015-04-08,CLE @ MIL,W,239,104,...,0.808,11,33,44,23,8,5,18,17,5.0

In [59]:
#extract same number of games from each
CC['GAME_DATE'].isnull().value_counts()

filtered_2016 = CC[(CC['GAME_DATE'] >= '2016-01-24')]
filtered_2016_2 = filtered_2016['PTS'].iloc[:30]

filtered_2014 = CC_2014['PTS'].iloc[:30]

In [79]:
st.ttest_ind(filtered_2016_2,filtered_2014)

Ttest_indResult(statistic=0.40704968604374164, pvalue=0.6854698416482969)

In [77]:
#with same data use welch - apparently default is welchs?
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.ttest_rel(CC[x],CC_2014[x]))
print(l)
#related ttest

[Ttest_relResult(statistic=0.6778513457984624, pvalue=0.499797709344183)]

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

In [58]:
playoffs = pd.read_csv("nba_playoff.csv", delimiter = ';')
playoffs

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,...,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,...,0.769,7,32,39,22,7,5,10,23,-4.0
2,42015,1610612744,GSW,Golden State Warriors,41500406,2016-06-16,GSW @ CLE,L,238,101,...,0.690,9,26,35,19,5,3,14,25,-14.0
3,42015,1610612739,CLE,Cleveland Cavaliers,41500406,2016-06-16,CLE vs. GSW,W,240,115,...,0.781,8,37,45,24,12,7,10,25,14.0
4,42015,1610612739,CLE,Cleveland Cavaliers,41500405,2016-06-13,CLE @ GSW,W,241,112,...,0.609,8,33,41,15,11,9,16,22,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,42015,1610612760,OKC,Oklahoma City Thunder,41500161,2016-04-16,OKC vs. DAL,W,243,108,...,0.857,14,42,56,23,7,6,18,25,38.0
168,42015,1610612737,ATL,Atlanta Hawks,41500131,2016-04-16,ATL vs. BOS,W,238,102,...,0.771,13,40,53,23,4,9,11,20,1.0
169,42015,1610612745,HOU,Houston Rockets,41500141,2016-04-16,HOU @ GSW,L,240,78,...,0.500,13,38,51,16,10,6,24,28,-26.0
170,42015,1610612742,DAL,Dallas Mavericks,41500161,2016-04-16,DAL @ OKC,L,238,70,...,0.615,9,24,33,16,5,0,12,25,-38.0
171,42015,1610612738,BOS,Boston Celtics,41500131,2016-04-16,BOS @ ATL,L,239,101,...,0.842,15,35,50,27,6,6,10,32,-1.0

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [61]:
TT_2015 = year_2015[year_2015['TEAM_NAME'] == 'Toronto Raptors']
TT_playoffs = playoffs[playoffs['TEAM_NAME'] == 'Toronto Raptors']

In [82]:
l=[]
listofname=['BLK']
for x in listofname:
    l.append(st.ttest_ind(TT_2015[x],TT_playoffs[x], equal_var=False))
print(l)
#related

[Ttest_indResult(statistic=3.500438136870473, pvalue=0.0011403514552816168)]


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [71]:
CC_2013 = year_2013[year_2013['TEAM_NAME'] == 'Cleveland Cavaliers']
CC_2014 = year_2014[year_2014['TEAM_NAME'] == 'Cleveland Cavaliers']
CC_2015 = year_2015[year_2015['TEAM_NAME'] == 'Cleveland Cavaliers']

In [72]:
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.f_oneway(CC_2013[x],CC_2014[x],CC_2015[x]))
print(l)

[F_onewayResult(statistic=5.9200250318080885, pvalue=0.003087727119983984)]

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.

In [73]:
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.kruskal(CC_2013[x],CC_2014[x],CC_2015[x]))
print(l)

[KruskalResult(statistic=11.58029547554316, pvalue=0.003057530430321833)]

In [ ]:
#Should be tukey, but can also do multiple ttests

In [84]:
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.ttest_rel(CC_2013[x],CC_2014[x]))
print(l)
#related ttest

[Ttest_relResult(statistic=-2.373131623747067, pvalue=0.02000701313829231)]

In [85]:
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.ttest_rel(CC_2013[x],CC_2015[x]))
print(l)
#related ttest

[Ttest_relResult(statistic=-3.1197847649538684, pvalue=0.0025073024696765428)]

In [86]:
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.ttest_rel(CC_2015[x],CC_2014[x]))
print(l)
#related ttest

[Ttest_relResult(statistic=0.6778513457984624, pvalue=0.499797709344183)]

In [ ]:
pairwise_tukeyhsd(endog=)

In [83]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [75]:
l=[]
listofname=['PTS']
for x in listofname:
    l.append(st.tukey_hsd(CC_2013[x],CC_2014[x],CC_2015[x]))
print(l)

AttributeError: module 'scipy.stats' has no attribute 'tukey_hsd'