In [2]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [3]:
titles = pd.read_csv('imdb_pandas/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [55]:
cast = pd.read_csv('imdb_pandas/cast.csv', sep=",")
cast.head(10)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN

### How many movies are listed in the titles dataframe?

In [13]:
titles.count()

title    232330
year     232330
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [19]:
titles.nsmallest(2, ['year'])

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [32]:
titles[titles['title'] == 'Hamlet'].count()

title    18
year     18
dtype: int64

### How many movies are titled "North by Northwest"?

In [23]:
titles[titles['title'] == 'North by Northwest'].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [34]:
titles[titles['title'] == 'Hamlet'].nsmallest(1, ['year'])

        title  year
46721  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [36]:
titles[titles['title'] == 'Treasure Island'].sort_values(by='year')

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [37]:
titles[titles['year'] == 1950].count()

title    1099
year     1099
dtype: int64

### How many movies were made in the year 1960?

In [38]:
titles[titles['year'] == 1960].count()

title    1501
year     1501
dtype: int64

### How many movies were made from 1950 through 1959?

In [40]:
ranges = [1950, 1959]
titles.groupby(pd.cut(titles.year, ranges)).count()

              title   year
year
(1950, 1959]  11612  11612

### In what years has a movie titled "Batman" been released?

In [44]:
titles[titles['title'] == 'Batman'].sort_values(by='year')

        title  year
74608  Batman  1943
56000  Batman  1989

### How many roles were there in the movie "Inception"?

In [54]:
cast[cast['title'] == 'Inception'].count()

title        77
year         77
name         77
type         77
character    77
n            51
dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [67]:
incept = cast[cast['title'] == 'Inception']

incept['n'].isnull().sum()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [70]:
incept['n'].count() -  incept['n'].isnull().sum()

25

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [75]:
NbyN = cast[cast['title'] == 'North by Northwest']
NbyN[NbyN['n'] >= 0].sort_index(ascending = False)

,title,year,name,type,character,n
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [88]:
import numpy as np
S2 = np.where((cast['title']=='Sleuth') & (cast['year']==1972))
S2

(array([ 316652,  362592, 1405219, 1421434, 1654402, 2635708]),)

In [87]:
cast.loc[(cast['title']=='Sleuth') & (cast['year']==1972)].sort_values(by='n')

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [89]:
cast.loc[(cast['title']=='Sleuth') & (cast['year']==2007)].sort_values(by='n')

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [94]:
cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]['character'].nunique()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [95]:
cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]['character'].nunique()

49

### How many "Hamlet" roles have been listed in all film credits through history?

In [96]:
cast[cast['title'] == 'Hamlet']['character'].nunique()

107

### How many people have played an "Ophelia"?

In [101]:
oph = cast[cast['title'] == 'Hamlet']
oph['character'].value_counts()['Ophelia']

15

### How many people have played a role called "The Dude"?

In [103]:
cast['character'].value_counts()['The Dude']

18

### How many people have played a role called "The Stranger"?

In [104]:
cast['character'].value_counts()['The Stranger']

212

### How many roles has Sidney Poitier played throughout his career?

In [108]:
cast[cast['name']== 'Sidney Poitier']['character'].nunique()

41

### How many roles has Judi Dench played?

In [109]:
cast[cast['name']== 'Judi Dench']['character'].nunique()

45

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [122]:
range = [1940,1949]
#titles.groupby(pd.cut(titles.year, ranges)).count()
cast[(cast['name'] == 'Cary Grant') & (cast['year'].between(1940,1949, inclusive =True) & (cast['n'] == 2))]

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [124]:
cast[(cast['name'] == 'Cary Grant') & (cast['year'].between(1940,1949, inclusive =True) 
                                       & (cast['n'] == 1))].sort_values(by = 'year')

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [127]:
cast[(cast['year'].between(1950,1959, inclusive =True)) & (cast['type'] == 'actor')]['character'].nunique()

91996

### How many roles were avilable for actresses in the 1950s?

In [128]:
cast[(cast['year'].between(1950,1959, inclusive =True)) & (cast['type'] == 'actress')]['character'].nunique()

35528

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [137]:
cast[(cast['year'] <= 1980) & (cast['n']==1)]['n'].count()

64095

### How many non-leading roles were available through from the beginning of film history through 1980?

In [138]:
cast[(cast['year'] <= 1980) & (cast['n']!=1)]['n'].count()

658350

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [141]:
cast[cast['year'] <= 1980]['n'].isnull().sum()

439134