In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('imdb_pandas/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('imdb_pandas/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [12]:
titles['title'].value_counts().head(10)

Hamlet                  18
Carmen                  16
Macbeth                 15
The Outsider            12
Maya                    12
Temptation              11
Kismet                  11
The Three Musketeers    11
Freedom                 11
Othello                 11
Name: title, dtype: int64

### Which three years in the 1930s saw the most films released?

In [16]:
cast[cast['year'].between(1930,1939, inclusive =True)]['year'].value_counts().head(3)

1937    27462
1936    25755
1938    25206
Name: year, dtype: int64

### Count the number of films that have been released in each decade over the history of cinema.

In [18]:
decades = [1890, 1900, 1910, 1920, 1930, 1940, 1950,1960,1970,1980,1990,2000,2010,2020,2030]
titles['year'].value_counts(bins=decades, sort=False)

(1889.999, 1900.0]        7
(1900.0, 1910.0]         55
(1910.0, 1920.0]       7617
(1920.0, 1930.0]       8490
(1930.0, 1940.0]      10277
(1940.0, 1950.0]       8675
(1950.0, 1960.0]      13113
(1960.0, 1970.0]      18166
(1970.0, 1980.0]      18351
(1980.0, 1990.0]      20746
(1990.0, 2000.0]      22672
(2000.0, 2010.0]      42247
(2010.0, 2020.0]      61847
(2020.0, 2030.0]         67
Name: year, dtype: int64

### Count the number of "Hamlet" films made in each decade.

In [20]:
hamlet = titles[titles['title'] == 'Hamlet']
hamlet['year'].value_counts(bins=decades, sort=False)

(1889.999, 1900.0]    0
(1900.0, 1910.0]      1
(1910.0, 1920.0]      2
(1920.0, 1930.0]      1
(1930.0, 1940.0]      0
(1940.0, 1950.0]      1
(1950.0, 1960.0]      1
(1960.0, 1970.0]      2
(1970.0, 1980.0]      2
(1980.0, 1990.0]      2
(1990.0, 2000.0]      2
(2000.0, 2010.0]      1
(2010.0, 2020.0]      3
(2020.0, 2030.0]      0
Name: year, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [22]:
rust = cast[cast['character'] == 'Rustler']
rust['year'].value_counts(bins=decades, sort=False)

(1889.999, 1900.0]     0
(1900.0, 1910.0]       0
(1910.0, 1920.0]       0
(1920.0, 1930.0]       7
(1930.0, 1940.0]      87
(1940.0, 1950.0]      14
(1950.0, 1960.0]       9
(1960.0, 1970.0]       1
(1970.0, 1980.0]       9
(1980.0, 1990.0]       2
(1990.0, 2000.0]       5
(2000.0, 2010.0]       0
(2010.0, 2020.0]       0
(2020.0, 2030.0]       0
Name: year, dtype: int64

### Count the number of "Hamlet" characters in each decade.

In [29]:
hamlet = cast[cast['title'] == 'Hamlet']['character'].value_counts()
hamlet['year'].value_counts(bins=decades, sort=False)

KeyError: 'year'

### What are the 11 most common character names in movie history?

In [30]:
cast['character'].value_counts().head(11)

Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [33]:
cast[cast['character'] == 'Herself']['name'].value_counts().head(10)

Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Hillary Clinton        7
Mary Jo Pehl           7
Joan Rivers            6
Sumie Sakai            6
Bunny Yeager           5
Kareena Kapoor         5
Caroline Rhea          5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [34]:
cast[cast['character'] == 'Himself']['name'].value_counts().head(10)

Adolf Hitler             100
Richard Nixon             46
Ronald Reagan             39
John F. Kennedy           34
Winston Churchill         24
Ron Jeremy                23
Benito Mussolini          23
George W. Bush            23
Martin Luther King        21
Franklin D. Roosevelt     20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [37]:
cast[cast['year'] == 1945]['name'].value_counts().head(10)

Emmett Vogan        39
Sam (II) Harris     32
Harold Miller       29
Bess Flowers        29
Nolan Leary         27
Frank O'Connor      27
Franklyn Farnum     26
Larry Steers        25
Edmund Cobb         24
Charles Sullivan    24
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [38]:
cast[cast['year'] == 1985]['name'].value_counts().head(10)

Mammootty        22
Shakti Kapoor    21
Sukumari         20
Raj Babbar       15
Aruna Irani      15
Mohanlal         15
Lou Scheimer     15
Rajesh Khanna    13
Asrani           13
Deven Verma      13
Name: name, dtype: int64

### How many roles "Mammootty" has played in each year of his career.

In [46]:
cast[cast['name'] == 'Mammootty']['year'].value_counts()

1985    22
1983    18
1986    18
1984    16
1990    15
2009    12
1989    10
2008     9
1987     9
2010     9
2006     8
2004     8
2007     7
2011     7
1982     7
2012     7
1988     7
2000     7
1991     6
2005     6
2014     6
2015     6
2013     5
1995     5
1994     5
1993     5
1998     4
1999     4
2016     4
1992     3
1996     3
2001     3
2002     3
1981     3
1997     2
1980     2
2003     2
2017     1
1971     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [54]:
cast[cast['character'].str.contains('Patron in', regex = False)]['character'].value_counts().head(10)

Patron in Frisky Rabbit         16
Patron in the Coffee House       9
Patron in Chinese Restaurant     9
Patron in Billiard Parlor        5
Patron in restaurant             4
Patron in Bar                    4
Patron in cabaret                3
Patron in Restaurant             3
Patron in Club                   3
Patron in Quiet Bar              2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [55]:
cast[cast['character'].str.contains('Science', regex = False)]['character'].value_counts().head(10)

Science Teacher                            60
The Science Fair Contestants & Families     9
Science Student                             9
Science Fair Student                        9
Science Fair Judge                          6
Science Promo Cadet                         5
Science Reporter                            5
Science Kid                                 5
Science Club Member                         5
Science                                     4
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [58]:
cast[cast['name'] == 'Judi Dench']['n'].value_counts().sort_index()

1.0     6
2.0     6
3.0     6
4.0     4
5.0     2
6.0     4
7.0     4
8.0     1
9.0     1
12.0    3
13.0    2
16.0    2
18.0    2
20.0    1
23.0    1
26.0    1
29.0    1
40.0    1
Name: n, dtype: int64

### Count number of n-values of Cary Grant's roles through his career.

In [61]:
cast[cast['name'] == 'Cary Grant']['n'].value_counts().sort_index()

1.0     46
2.0     20
3.0      2
4.0      1
5.0      1
8.0      1
9.0      2
10.0     2
Name: n, dtype: int64

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [66]:
cast[cast['name'] == 'Sidney Poitier']['n'].value_counts().sort_index()

1.0     21
2.0      8
3.0      6
4.0      3
5.0      1
10.0     1
13.0     1
21.0     1
Name: n, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [69]:
cast[(cast['year'].between(1950,1959, inclusive =True)) 
     & (cast['type'] == 'actor') & (cast['n'] == 1)]['character'].nunique()

5959

In [70]:
cast[(cast['year'].between(1950,1959, inclusive =True)) 
     & (cast['type'] == 'actress') & (cast['n'] == 1)]['character'].nunique()

2667

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [71]:
cast[(cast['year'].between(1950,1959, inclusive =True)) 
     & (cast['type'] == 'actress') & (cast['n'] == 2)]['character'].nunique()

4005

In [72]:
cast[(cast['year'].between(1950,1959, inclusive =True)) 
     & (cast['type'] == 'actor') & (cast['n'] == 2)]['character'].nunique()

4160