# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
x = set()
print(x)

set()

* create a non empty set
* print that set

In [14]:
z = set(['foo','bar','baz','quz'])
print(z)

{'quz', 'bar', 'foo', 'baz'}

* iterate over the set and print results

In [8]:
for word in z:
    print(word)

quz
bar
foo
baz

* add one item to the set

In [15]:
z.add("far")
print(z)

{'far', 'foo', 'baz', 'bar', 'quz'}

* add multiple items to the set

In [16]:
z.update(["boo","zoo"])
print(z)

{'far', 'foo', 'baz', 'zoo', 'bar', 'boo', 'quz'}

* remove an item from a set if it is present in the set

In [21]:
z.remove('boo')
print(z)

{'foo', 'baz', 'zoo', 'bar', 'quz'}

* find maximum and minimum values of the set

In [27]:
y = set({1,2,3,4,2,3,4,5})
print(max(y))
print(min(y))

5
1

* print the length of the set

In [25]:
print(len(z))

5

* create an intersection of x and y

In [29]:
x = {'foo', 'bar', 'boo'}
y = {'baz', 'qux', 'foo'}

new = x.intersection(y)
print(new)

{'foo'}

* create an union of x and y

In [30]:
x | y

{'bar', 'baz', 'boo', 'foo', 'qux'}

* create difference between x and y

In [32]:
x.symmetric_difference(y)

{'bar', 'baz', 'boo', 'qux'}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [35]:
s = 'black cat jumped over white cat'

from collections import Counter
words = s.split()
Counter(words)

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [42]:
s = 'black cat jumped over white cat'
words = s.split()
Counter(words).most_common(3)

[('cat', 2), ('black', 1), ('jumped', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [47]:
from collections import defaultdict
sen = 'black cat jumped over white cat'.split()
count = defaultdict(int)
for s in sen:
    count[s] += 1
print(count)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [48]:
from collections import deque
ls = ['a','b','c']
deq = deque(ls)
print(deq)

deque(['a', 'b', 'c'])

* append number 10 to deque

In [49]:
deq.append('10')
print(deq)

deque(['a', 'b', 'c', '10'])

* remove element from the right end from deque

In [50]:
deq.pop()
print(deq)

deque(['a', 'b', 'c'])

* remove element from the left end from deque

In [51]:
deq.popleft()
print(deq)

deque(['b', 'c'])

* delete all elements from deque

In [52]:
deq.clear()
print(deq)

deque([])

* create named tuple (people) with name and surname as position names

In [55]:
from collections import namedtuple
NAMES = namedtuple('name','firstname, surname')
s1 = NAMES('John', 'Clarke')
print(s1)

#creating namedtuple with list
s2 = NAMES._make(['Adam','joe'])
print(s2)

name(firstname='John', surname='Clarke')
name(firstname='Adam', surname='joe')

* print name and surname

look above

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [60]:
string = 'dogs VS cats movie 2'

upper_case = string.upper()
print(upper_case)

DOGS VS CATS MOVIE 2

In [61]:
try:
    x = input("Enter a sentence: ")
    if x == int:
        raise TypeError(x)
except TypeError:
    print(x, "is not a sentence")
else:
    print(x.upper())

Enter a sentence:  dogs vs cats 2

DOGS VS CATS 2

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [94]:
def relation_to_luke(text):
    _dict = {
    "Darth Vader" : "father",
    "Leia" : "sister",
    "Han" : "brother in law",
    "R2D2" : "droid"
    }
    print(f"Luke, I am your " + _dict[text])

#### Task I
Fix errors in the function above so we can run following code

In [95]:
print(relation_to_luke("Darth Vader"))
print(relation_to_luke("Leia"))
print(relation_to_luke("Han"))
print(relation_to_luke("R2D2"))

Luke, I am your father
None
Luke, I am your sister
None
Luke, I am your brother in law
None
Luke, I am your droid
None

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [108]:
try:
    x = input("Enter a name: ")
    _dict = {
    "Darth Vader" : "father",
    "Leia" : "sister",
    "Han" : "brother in law",
    "R2D2" : "droid"
    }
except KeyError:
    print(x, "is not in relation with Luke")
else:
    print("Luke, I am your", _dict[x])

Enter a name:  Leia

Luke, I am your sister